body {
  margin: 0;
  color: var(--open-ai-open-aibg, #343540);
  text-align: left;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--bg-grey, #202124);
}

#game {
  position: relative;
  margin: auto;
  /* margin-top: 10%; */
  width: 960px;
  height: 720px;
  background-image: url('media/background.png');
}

#start_page {
  display: flex;
  width: 412px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: absolute;
  left: 274px;
  bottom: 250px;

  /* margin-left: auto;
  margin-right: auto; */


  /* border-top: 100px; */

}

#openai_logo {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 50px;
}

#welcome_1 {
  color: var(--open-ai-open-ai-text, #ECECF1);
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#welcome_2 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: var(--open-ai-open-ai-text, #ECECF1);
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#start_button {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--captcha-green, #40B773);

  color: white;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  /* font: inherit; */
  font-family: Arial;
  /* cursor: pointer; */
  outline: inherit;
  border-radius: 5px;
  font-weight: bold;
}

#start_button:hover {
  background: var(--captcha-green, #2e8f57);
}

#progress_bar_bg {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /* height: 30px; */
  background-color: #565766;
  border-radius: 4px;
  box-shadow: inset 0 0 10px #656675;
}

#progress_bar_filler {
  width: 1%;
  height: 10px;
  background-color: #BEBEBE;
  border-radius: 4px;
}

.level_0_svg_path {
  stroke: #000;
  stroke-width: 1px;
}

#level_0_svg {
  position: absolute;
  width: 100%;
  height: 100%;

  pointer-events: none;
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

.vcenter {
  margin-top: auto;
  margin-bottom: auto;
}


#level_body {
  width: 100%;
  aspect-ratio: 4 / 3;

  user-select: none;
  -webkit-user-select: none;
}

#failure_message,
#win_message {
  /* position: absolute; */
  /* top: 0; */
  margin: auto;

  width: 440px;
  height: 262px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
  background: #0056E4;
}

#failure_message_header,
#win_message_header {
  color: var(--captcha-text-light, #FFF);
  text-align: center;
  font-family: Roboto Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#failure_message_body,
#win_message_body {
  display: flex;
  padding: 19px 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 2px;
  border: 1px solid #FFF;
  background: #E9E7D8;
}

#failure_message_main_text {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #000;
  font-family: Roboto Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#win_message_main_text {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #000;
  font-family: Roboto Mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

#failure_message_tests_passed_text,
#win_message_tests_passed_text {
  color: var(--captcha-text-dark, #000);
  text-align: center;
  font-family: Roboto Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#failure_message_restart_button {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background: var(--captcha-red, #D54642);

  color: var(--captcha-text-light, #FFF);
  text-align: center;
  text-shadow: 0px 0.5px 0.5px 0px rgba(0, 0, 0, 0.25);
  font-family: Roboto Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#win_message_restart_button {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background: var(--captcha-red, #40B773);

  color: var(--captcha-text-light, #FFF);
  text-align: center;
  text-shadow: 0px 0.5px 0.5px 0px rgba(0, 0, 0, 0.25);
  font-family: Roboto Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#content-container {
  position: relative;
  top: 100px;
  height: 520px;
  margin-left: auto;
  margin-right: auto;
}

#content {
  /* top: 100px; */
  height: 520px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 360px;
  justify-content: center;
  position: relative;
}

.text-captcha,
.click-captcha {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background: #FFF;
}

.puzzle-captcha {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  background: #FFF;
}

.text-captcha-head {
  height: 75px;
  align-self: stretch;
  border: 1px solid var(--captcha-grey, #BEBEBE);
}

.text-captcha-body {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 2px;
  border: 1px solid var(--captcha-grey, #BEBEBE);
  background: var(--captcha-low-contrast, #F9F9F9);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.10);
}

.click-captcha-body {
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 2px;
  border: 1px solid var(--captcha-grey, #BEBEBE);
  background: var(--captcha-low-contrast, #F9F9F9);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.10);
}

.text-captcha-body .vstack {
  display: flex;
  height: 55.099px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  color: var(--open-ai-open-aibg, #343540);
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.click-captcha-body .hstack {
  display: flex;
  height: 55.099px;
  flex-direction: row;
  align-items: flex-start;
  flex: 1 0 0;
  color: var(--open-ai-open-aibg, #343540);
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-captcha-body input[type=text] {
  display: flex;
  padding: 2.748px 6.183px 3.748px 7.183px;
  align-items: center;
  gap: 3.435px;
  align-self: stretch;
  border-radius: 1.374px;
  border: 1px solid var(--captcha-grey, #BEBEBE);
  background: #FFF;
  color: var(--open-ai-open-aibg, #343540);
  text-align: left;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-captcha-body input[type=text]:focus {
  padding: 2.748px 6.183px;
  border-radius: 1.374px;
  border: 2px solid var(--captcha-text-middle, #999);
  background: var(--captcha-text-light, #FFF);
  outline: none;
}

.puzzle-captcha-head {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
  background: var(--captcha-blue, #5A8FF9);
}

.puzzle-captcha-head .text {
  /* display: flex;
  flex-direction: column; */
  align-self: stretch;
  color: var(--captcha-text-light, #FFF);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.puzzle-captcha-head .text-bold {
  color: var(--captcha-text-light, #FFF);
  font-size: 16px;
  font-weight: 700;
}

.puzzle-captcha-head .text-hex {
  color: #D54642;
  background-color: #FFF;
}

.puzzle-captcha-body {
  width: 340px;
  height: 340px;
}

.puzzle-captcha-foot {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.captcha-grid-md {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px;
  background: var(--captcha-low-contrast, #F9F9F9);
}

.captcha-grid-lg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
  background: var(--captcha-low-contrast, #F9F9F9);
}

.captcha-grid-elem-md {
  position: relative;
  width: 112px;
  height: 112px;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; */
  /* aspect-ratio: 1; */
  background-color: #FFF;
}

.captcha-grid-elem-lg {
  position: relative;
  width: 168px;
  height: 168px;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; */
  /* aspect-ratio: 1; */
  background-color: #FFF;
}

.captcha-grid-elem-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px;
  /* display: flex; */
  /* flex-direction: row; */
  background-color: rgba(255, 255, 255, 0.3);
}

.checkmark {
  left: 0;
}

.captcha-checkbox {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: auto 10px auto 0px;
  border-radius: 2px;
  border: 2px solid var(--captcha-grey, #BEBEBE);
  background: #FFF;
}

.captcha-checkbox:hover {
  border-radius: 3px;
  border: 2px solid var(--captcha-text-middle, #999);
}

.captcha-button {
  display: inline-flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--captcha-blue, #5A8FF9);
  /* cursor: default; */
  color: #FFF;
  text-transform: uppercase;
}

.captcha-button:hover {
  background: var(--captcha-blue-clicked, #316de5);
}